.jumbotron {
    background-color: rgb(68, 160, 68);
    color: black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(38, 134, 67);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-reserva {
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}